body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 95.9vh;
  background-image: linear-gradient(
    to right top,
    #4c3944,
    #453543,
    #3d3141,
    #342e3f,
    #2b2b3d,
    #242b3d,
    #1d2b3b,
    #172b39,
    #162e38,
    #173036,
    #1b3234,
    #203432
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1 {
  text-align: center;
  font-size: 5rem;
  font-family: cursive;
}

.search__div {
  display: flex;
  justify-content: center;
}

.search__bar {
  text-align: center;
  width: 350px;
  height: 40px;
  font-size: 24px;
  border: 4px solid;
}

.search__btn__div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search__btn {
  border: 2px solid black;
  width: 60px;
  height: 40px;
}

.search__btn:hover {
  cursor: pointer;
  background-color: black;
  transition: all 0.2s;
}

.music__container {
  border: 2px solid transparent;
  margin-top: 20px;
  display: flex;
  height: 700px;
  justify-content: space-evenly;
}

.results,
.tracklist {
  display: flex;
  border: 2px solid black;
  width: 500px;
  justify-content: center;
  border-radius: 15px 50px;
}

.music__box {
  border: 2px solid black;
  width: 500px;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-top: 150px;
  border-radius: 15px 50px;
}

.playbar__div {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.playbar {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid transparent;
  width: 500px;
}

.playBtn {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
}

.play {
  width: 60px;
}

.save__to__spotify {
  width: 80px;
}
